body{
    background-color: black;
    color:white;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    font-family: "DM Sans", sans-serif;
    overflow-x: hidden;
}

h1{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
}

h2{
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}

hr{
    width:100%;
}
.title{
    font-size: 20px;
    font-family: "Special Gothic Expanded One", sans-serif;
    color:white;
}

a{
    color:white;
    text-decoration: none;
    padding:2px;
    transition: all, 0.5s;
}
a:hover{
    color:black;
    background-color: white;
    transition: all, 0.5s;
}
.container{
    padding: 10px;
    width:500px;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: visible;
    text-align: center;
    position: relative;
}

.socialContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hackathonsList{
    width:100%;
    text-align: left;
}
.eventsList{
    width:100%;
    text-align: left;
}

.bg{
    display: flex;
    justify-content: center;
    top: 0;
    left:0;
    z-index: -1;
}

.bgvideo{
    position: fixed;
    /* height:100vh; */
    filter:blur(05px);
}
.yap{
    text-align: left;
    font-family: "DM Sans", sans-serif;
}

.button{
    transition: all 1s;
}
.button:hover
{
    transform: scale(1.1);
    transition: all 0.5s;
}

.button:active{
    transform: scale(0.9);
    transition: all 0.5s;
}
.stickerBox{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap:2px;
    justify-content: center;
}

.stickerBox img{
    border:2px solid grey;
    box-shadow: 5px 3px 5px red;
}
.sticker{
    position: absolute;
}
.slogan{
    font-size: 35px;
    font-weight: 900;
    margin-top: 20px;
    color:white;
}

.imgExpand{
    transition: all 1s;
}

.imgExpand:hover{
    transform:scale(1.5);
    transition: all 1s;
}

#ballin{
    top:60px; 
    left:calc(50% + 80px); 
    position: absolute; 
    rotate:30deg
}
#skrilllogo{
    top:40px; 
    left:calc(50% - 160px); 
    position: absolute; 
    rotate:-20deg;
}

@media (max-width:600px){
    .imgExpand:hover{
        transform:scale(1.1);
        transition: all 1s;
    }

    .container{
        padding: 10px;
        width:100vw;
    }

}